body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #333;
    font-size: 40px;
}

h3 {
    color: #555;
    font-size: 22px;
    margin-bottom: 30px;
}

img {
    margin-top: 20px;
    border: 4px solid #ccc;
    border-radius: 12px;
}

.card {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}
